.headerContainer{
    background: rgba(255, 0, 0, 0.411);
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 15px 100px;
    color: rgb(255, 174, 0);
    outline: thick double rgba(238, 69, 69);
}