.mainContainer{
    background: rgba(190, 172, 1, 0.411);
    margin: auto;
    text-align:center;
    align-items: center;
    color: black;
    width:80%;
    outline: thick double rgba(238, 69, 69);
    display:grid;

}
.cardsContainer{
    margin-top:10px;
    padding-top:50px;  
}