.mainContainer{
    background: rgba(248, 49, 49, 0.719);
    margin: auto;
    text-align:center;
    align-items: center;
    color: rgb(255, 174, 0);
    width:80%;
    outline: thick double rgba(238, 69, 69);
    display:grid;

}
.cardsContainer{
    margin-top:10px;
    padding-top:50px;  
}