.card {
  background: rgba(0, 0, 0, 0.39);
    outline: thick double rgba(238, 69, 69);
    display: inline-block;
    height: 300px;
    width:140px;
    margin:20px;
    color:rgb(238, 69, 69); 
    animation: dropIn 3s ease forwards;
    box-shadow: 10px 3px 144px -3px rgb(255, 174, 0,0.3);

  }
@keyframes dropIn{
  from{transform: translateY(500px)};
  to{transform: translateY(0)};
}
.card:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 174, 0);

}
.occupation{
  font-size: 15px;
  color: rgb(255, 174, 0);
  text-align: center;
  /* padding:10px; */
  overflow:hidden;

}

  